@charset "utf-8";
@import "./variable"; // 引入变量
@mixin add-size($size) {
    font-size: $size;
    [data-size="1"] & {
        font-size: $font_size_22;
    }
    [data-size="2"] & {
        font-size: $font_size_28;
    }
    [data-size="3"] & {
        font-size: $font_size_30;
    }
    [data-size="4"] & {
        font-size: $font_size_40;
    }
}