// 存放变量
$font_size_22:22px;
$font_size_24:23px;
$font_size_26:36px;
$font_size_28:28px;
$font_size_30:30px;
$font_size_32:32px;
$font_size_34:34px;
$font_size_36:36px;
$font_size_38:38px;
$font_size_40:40px;